@font-face {
  font-family: 'Digital';
  src: URL('/fonts/digital.ttf') format('truetype');
}
:root {
  --font: 'Digital';
  --color: #00f7f7;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-family: var(--font);
  color: var(--color);
}
.container {
  background-color: #000;
  height: 100vh;
}
.clock {
  width: 30rem;
  margin: auto;
  position: relative;
  top: 30vh;
}
.period,
.seconds {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 4rem;
}
.time {
  font-size: 10rem;
  padding-left: 1rem;
}
.seconds {
  top: 5rem;
}
.date {
  font-size: 2.4rem;
  margin-top: 2rem;
  text-align: center;
}
.v-hidden {
  visibility: hidden;
}

/* DEVELOPER
  ============================= */
.dev {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: lighter;
}
.dev a {
  color: #05a6f1;
}
.dev a:link {
  text-decoration: none;
}
.dev a:visited {
  font-style: italic;
}
.dev a:hover {
  text-decoration: underline;
}
.dev a:active {
  font-style: italic;
  text-decoration: underline;
  color: gray;
}
.dev .top a,
.dev .bottom a {
  display: flex;
  align-items: center;
  padding: 16px;
}
.dev .top a {
  justify-content: flex-start;
}
.dev .bottom a {
  justify-content: flex-end;
}
.dev span {
  color: gray;
}
.dev img {
  width: 32px;
  margin: 0 8px;
}
